<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add New Pet</title>
        <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <h2>Add a New Pet</h2>
        <form action="{{ url_for('add_pet') }}" method="POST" enctype="multipart/form-data">
            <input type="text" name="name" placeholder="Pet Name" required><br>
            <input type="number" name="age" placeholder="Age" required><br>
            <input type="text" name="breed" placeholder="Breed" required><br>
            <input type="text" name="type" placeholder="Type (e.g., Dog, Cat)" required><br>
            <input type="text" name="color" placeholder="Color" required><br>
            <input type="text" name="status" placeholder="Status (e.g., Available, Adopted)" required><br>
            <input type="file" name="picture" required><br><br>
            <button type="submit">Add Pet</button>
        </form>
    </body>
</html>