<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>contact information</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='settings.css') }}">
  </head>

  <body>
    <div class="top-nav">
    <ul>
      <li><a href="{{ url_for('account') }}">ACCOUNT</a></li>
      <li><a href="{{ url_for('personal') }}">PERSONAL</a></li>
      <li><a href="{{ url_for('contact') }}">CONTACT</a></li>
      <li><a href="{{ url_for('privacy') }}">PRIVACY</a></li>
      <li><a href="{{ url_for('security') }}">SECURITY</a></li>
    </ul>
  </div>

    <main class="main-wrapper">    
      <div class="wrapper">
        <h2>CONTACT INFORMATION</h2>
        <form class="form-scroll" method="POST" action="{{ url_for('contact') }}">

          <div class="input-box">
            <label for="primary-address">Primary Address</label>
            <textarea id="primary-address" name="primary-address" placeholder="Enter your primary address"></textarea>
          </div>

          <div class="input-box">
            <label for="billing-address">Shipping Address (if relevant)</label>
            <textarea id="shipping-address" name="shipping-address" placeholder="Enter billing or shipping address if different"></textarea>
          </div>
      
          <div class="input-box">
            <label>My Social Media</label>
            <div class="form-actions">
              <button type="button">Instagram</button>
              <button type="button">Whatsapp</button>
              <button type="button">Facebook</button>
            </div>
          </div>

          <div class ="main-button">
            <button type="submit" class="btn">SAVE CHANGES</button>
          </div>
      
        </form>
      </div>
    </main>
  </body>
</html>