<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>contact information</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='settings.css') }}">
  </head>

  <body>
    <div class="top-nav">
    <ul>
      <li><a href="{{ url_for('account') }}">ACCOUNT</a></li>
      <li><a href="{{ url_for('personal') }}">PERSONAL</a></li>
      <li><a href="{{ url_for('contact') }}">CONTACT</a></li>
      <li><a href="{{ url_for('privacy') }}">PRIVACY</a></li>
      <li><a href="{{ url_for('security') }}">SECURITY</a></li>
    </ul>
  </div>

    <main class="main-wrapper">    
      <div class="wrapper">
        <h2>CONTACT INFORMATION</h2>
        <button class="edit-btn" onclick="toggleContactEdit()">✏️</button>

        <form id="contact-form" class="form-scroll readonly" method="POST" action="{{ url_for('contact') }}">

          <div class="input-box">
            <label for="primary-address">Primary Address</label>
            <textarea id="primary-address" name="primary-address" placeholder="Enter your primary address" readonly>{{ user[12] if user else '' }}</textarea>
          </div>

          <div class="input-box">
            <label for="billing-address">Shipping Address (if relevant)</label>
            <textarea id="shipping-address" name="shipping-address" placeholder="Enter billing or shipping address if different" readonly>{{ user[13] if user else '' }}</textarea>
          </div>
      
          <div class="input-box">
            <label>My Social Media</label>
            <div class="social-btn">
              <a href="https://www.instagram.com" target="_blank"><button type="button">Instagram</button></a>
              <a href="https://x.com" target="_blank"><button type="button">X</button></a>
              <a href="https://www.facebook.com" target="_blank"><button type="button">Facebook</button></a>
            </div>
          </div>

          <div class ="main-button">
            <button type="submit" class="btn">SAVE CHANGES</button>
          </div>
      
        </form>
      </div>

        {% if message %}
          <p>{{ message }}</p>
        {% endif %}
      
    </main>

    <script src="{{ url_for('static', filename='settings.js') }}"></script>

  </body>
</html>