<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0,  maximum-scale=1.0, user-scalable=1">
        <title>Pawfect Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    </head>
    <body>

        <header>
            <div class="logo">
                <a>Pawfwct Home</a>
            </div>

            <ul class="nav">
                <li><a href="{{ url_for('home') }}">HOME</a></li>
                <li><a href="{{ url_for('home') }}">ABOUT</a></li>
                <li><a href="{{ url_for('home') }}">SERVICES</a></li>
                <li><a href="{{ url_for('home') }}">CONTACT</a></li>
            </ul>

            <div class="right-content">
                <a href="#" class="nav-btn">SIGN UP</a>
                <div class="bx bx-menu" is="menu icon"></div>
            </div>
        </header>

        <div class="wrapper_outer">
            <div class="wrapper">
                <div class="parallax_section">
                    <div class="parallax_bg" style="background-image: url('{{ url_for('static', filename='images/home1.jpg') }}');"></div>
                        <h2>PAW</h2>
                        <div class="gradient_top"></div>
                        <div class="gradient_bottom"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper_outer">
            <div class="wrapper">
                <div class="parallax_section">
                    <div class="parallax_bg" style="background-image: url('{{ url_for('static', filename='images/home2.jpg') }}');"></div>
                        <h2>PAW</h2>
                        <div class="gradient_top"></div>
                        <div class="gradient_bottom"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper_outer">
            <div class="wrapper">
                <div class="parallax_section">
                    <div class="parallax_bg" style="background-image: url('{{ url_for('static', filename='images/home3.jpg') }}');"></div>
                        <h2>PAW</h2>
                        <div class="gradient_top"></div>
                        <div class="gradient_bottom"></div>
                    </div>  
                </div>
            </div>
        </div>
    </body>
</html>