<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>request reset</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    </head>

    <body>
        <div class="wrapper">
            <form action="{{ url_for('request_reset') }}" method="POST">
                <h1>RESET PASSWORD</h1>

                {% if error %}
                    <p class="error-message">{{ error }}</p>
                {% endif %}

                <div class="input-box">
                    <input type="text" placeholder="Username" name="username" required>
                </div>

                <div class="input-box">
                    <input type="email" placeholder="Email" name="email" required>
                </div>

                <button type="submit" class="btn">SEND OTP</button>

                <div class="login-link">
                    <span class='left-text'>Change your mind?</span>
                    <a href="{{ url_for('login') }}" class='right-link'>login</a>
                </div>

            </form>
        </div>
    </body>
</html>