<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0,  maximum-scale=1.0, user-scalable=1">
        <title>Pawfect Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='user.css') }}">
    </head>
    <body>
        <div class="nav">
            <ul class="nav-center">
                <li><a href="{{ url_for('user_dashboard') }}">HOME</a></li>
                <li><a href="{{ url_for('track_user') }}">STATUS</a></li>
                <li><a href="{{ url_for('account') }}">SETTINGS</a></li>
            </ul>
            <div class="nav-right">
                <a href="{{ url_for('login') }}" class="logout-btn">LOGOUT</a>
            </div>
        </div>

        <h1>BROWSE PETS</h1>
        <form method="post" action="/filter">
            <label for="breed">Breed:</label>
            <input type="text" name="breed" id="breed">
            <button type="submit">Filter</button>
        </form>
    
        <div class="pets-container">
            {% if pets %}
                {% for pet in pets %}
                    <div class="pet-card">
                        <img src="{{ url_for('static', filename='profile_pics/' + pet['picture']) }}" alt="Pet Image">
                        <p><strong>Name:</strong> {{ pet['name'] }}</p>
                        <p><strong>Type:</strong> {{ pet['type'] }}</p>
                        <p><strong>Color:</strong> {{ pet['color'] }}</p>
                        <p><strong>Breed:</strong> {{ pet['breed'] }}</p>
                        <p><strong>Age:</strong> {{ pet['age'] }}</p>
                        <a href="{{ url_for('pet_profile', pet_id=pet['id']) }}">View Profile</a>
                    </div>
                {% endfor %}
            {% else %}
                <p>No pets found.</p>
            {% endif %}
        </div>
    </body>
</html>    