<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Available Pets</title>
        <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='view.css') }}">
    </head>
    
    <body>
        <div class="container">
            <h2>AVAILABLE PETS</h2>

            <!-- Flash Message -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            <!-- All Pets -->
            <div class="pet-container">
                {% if pets %}
                    {% for pet in pets %}
                    <div class="pet-card">
                        <img src="{{ url_for('static', filename='uploads/' + pet['picture']) }}" alt="{{ pet['name'] }}">
                        <h3>{{ pet['name'] }}</h3>
                        <p><strong>Age:</strong> {{ pet['age'] }} years</p>
                        <p><strong>Breed:</strong> {{ pet['breed'] }}</p>
                        <p><strong>Type:</strong> {{ pet['type'] }}</p>
                        <p><strong>Color:</strong> {{ pet['color'] }}</p>
                        <p><strong>Status:</strong> {{ pet['status'] }}</p>
                        <p><strong>Description:</strong> {{ pet['description'] }}</p>
                    </div>
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </body>
</html>