<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Available Pets</title>
        <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='add.css') }}">
    </head>
    
    <body>
        <div class="container">
            <h2>AVAILABLE PETS</h2>

            <!-- Flash Message -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            <!-- All Pets -->
            {% for pet in pets %}
            <div class="profile-pic">
                <img src="{{ url_for('static', filename='uploads/' + pet['picture']) }}" alt="{{ pet['name'] }}">
            </div>

            <div class="form-group">
                <label>Pet Name:</label>
                <p class="summary">{{ pet['name'] }}</p>
            </div>

            <div class="form-group">
                <label>Age:</label>
                <p class="summary">{{ pet['age'] }} years</p>
            </div>

            <div class="form-group">
                <label>Breed:</label>
                <p class="summary">{{ pet['breed'] }}</p>
            </div>

            <div class="form-group">
                <label>Type:</label>
                <p class="summary">{{ pet['type'] }}</p>
            </div>

            <div class="form-group">
                <label>Color:</label>
                <p class="summary">{{ pet['color'] }}</p>
            </div>

            <div class="form-group">
                <label>Status:</label>
                <p class="summary">{{ pet['status'] }}</p>
            </div>

            <div class="form-group">
                <label>Description:</label>
                <p class="summary">{{ pet['description'] }}</p>
            </div>

            <hr style="margin: 40px 0; width: 100%; border-top: 1px solid #ccc;">
            {% endfor %}
        </div>
    </body>
</html>